
@{
    ViewBag.Title = "Rent";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>
</main>

<a href="~/Views/Shared/_Footer.cshtml">~/Views/Shared/_Footer.cshtml</a>